<div class="wrapper_show">

    <div id="description-heading">
      <h3><strong><%=@product[0][1]%></strong></h3>
    </div>
    <hr>
    <% @product_attributes.each do |attribute| %>

     <details>
        <summary><strong><%= attribute[1] %></strong></summary>
       <% unless attribute[2].empty? %>
         <pre> <%= attribute[2] %></pre>
       <% end %>
     </details>
     <hr>
    <% end %>
</div>