@import "bootstrap-sprockets";
@import "bootstrap";
@import "static_pages";
@import "tablets";


body{

 .wrapper{

   .navbar.navbar-inverse{
     border-radius: 0;
   }
   #top-messages{
    text-align: center;
   }
    main{
      width: 98%;
      margin: 0 auto;

       .form-user{
         margin: 0 auto;
         padding: 20px;
         width: 400px;
         border-radius: 10px;
       }

    }
 }
}